<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/layouts/theme.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

    <title>Bubba</title>
  </head>
  <body>
    <div class="container-fluid">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/homepage"><p class="hubba hvr-grow">Home</p></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <form action="/search" method="POST" class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search item" name="keyword">
                </div>
                <button type="submit" class="btn btn-default navi" name="submit">Search</button>
              </form>
              <form action="/cart" method="GET" class="navbar-form navbar-left">
                <button type="submit" class="btn btn-default hvr-push navi cart" id="flash2" name="submit"><i class="material-icons">shopping_cart</i> Cart {{#with cart}}({{totalQty}}){{/with}}</button>
              </form>

              {{#unless user}}
              <div class="navbar-form navbar-right">
                <button class="btn btn-primary navi" data-toggle="modal" data-target="#myModal">Register</button>
              </div>

              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="container">
                  <div class="col-md-5 col-md-offset-1">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h3 class="panel-title"><strong>Registration</strong></h3>
                        <div class="panel-body">
                          <form action="/register" method="POST" role="form">
                            <div class="row">
                              <div class="col-xs-12 col-sm-8 col-md-8">
                                <div class="form-group">
                                  <input type="text" name="username" id="username" class="form-control" placeholder="Username" tabindex="1">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-12 col-sm-8 col-md-8">
                                <div class="form-group">
                                  <input type="password" name="password" id="password" class="form-control" placeholder="Password" tabindex="1">
                                </div>
                              </div>
                            </div>
                            <button type="submit" class="btn btn-success">Register</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <form action="/login" method="POST" class="navbar-form navbar-right" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default hvr-sweep-to-right navi">Log In</button>
              </form>
              {{/unless}}
              <div class="navbar-form navbar-right">
                {{#if user}}
                  <span class="userinfo">Logged in as {{user.role}}: <u><i>{{user.username}}</i></u> Credits: <u><i>{{user.credit}}€</i></u></span>
                <a href="/logout" class="btn btn-default hvr-shutter-in-vertical navi">Logout</a>
                {{/if}}
              </div>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <h1>Bubba's workshop</h1>
        <hr>
        {{{body}}}
    </div>

     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../flash.js"></script>
  </body>
</html>
